<div class="alert alert-success d-flex align-items-center" role="alert">
  <svg class="bi flex-shrink-0 me-5" role="img" aria-label="Success:">
    <use xlink:href="#check-circle-fill" />
  </svg>
  <div>Registration Successful!</div>
  <div>Email sent successfully to <%= list %></div>
</div>
<!-- this button will show only after the registration is successful -->
 <button class="loginRoute"><a href="/login2">Login</a></button>

